[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
pyqt5 = "*"
eyed3 = "*"
mutagen = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
